@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  animation: gradient 15s ease infinite;
  background: linear-gradient(270deg, #667eea, #764ba2, #6ee7b7, #fba0e3);
  background-size: 400% 400%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
